.designpart{
	
}

.designmenu{
	position : absolute;
	top: 0px;
	right : 80px;
}

.designele{
	border: 2px dotted red;
}

.designele_sign{
	border: 1px dotted gray;
}

.design_container{
	height : 99%;
}

html,body{
	height:100%;
}