*{
	position:relative;
}
ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	margin:0px;
}

.line-spacing-top{
	height: 10px;
}

.line-spacing{
	height: 30px;
}

.portlet-title {  
  border-bottom: 1px solid #eee;
  background: #4b8df8;
  border-bottom: 1px solid #eee;
  height:32px;
  line-height:32px;
}


.portlet-title .caption {
  float: left;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 5px; 
  margin-left: 5px;
  color: #fff !important;
}

/*
* Framework added
*/

.keepinput{
	margin-bottom: 9px;
}

/* bootstrap*/
.btn{
}

input, textarea, .uneditable-input {
	width:138px;
}

.dropdown-menu {
	min-width : 120px;
}

.page_content {
}

.page_content .hometable{
	width:100%;
	cellspacing:0px;
	cellpadding:0px;
}


.page_content .hometable .td1 {
	width:240px;
	vertical-align:top;
	padding:0px;
}

.page_content .hometable .td2 {
   background: #fff;
   border-left: 2px solid #cccccc;
   vertical-align:top;
   padding:0px;
}

.wtf_container {
	width:100%;
	height:100%;
}

.inline{
	display:inline-block;
}

.wtfinline{
	display:inline-block;
}

.control-group .controls{
	line-height: 10px;
	overflow:hidden;
}

.control-group .control-label{
	padding-top: 6px;
}

.control-group .help-inline{
	padding-top: 6px;
}

/*Blocks*/
.block {
  border: 1px solid #ccc;
  background: white;
  margin: 1em 0em;
}
.dialog .block {
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
}
.block-heading {
  border-bottom: 1px solid #a6a6a6;
  border-left: none;
  color: #505050;
  display: block;
  margin-bottom: 0px;
  text-shadow: none;
  text-transform: none;
  font-weight: bold;
  font-size: .85em;
  line-height: 3em;
}
.block-heading .block-icon {
  border-right: 1px solid #AAA;
  border-left: none;
}
.block-heading .block-icon a {
  padding: 0em;
}
.block-heading .block-icon [class*="icon-"] {
  padding: 0em 1em;
  line-height: 1em;
}
.block-heading .block-icon.pull-right {
  border-left: 1px solid #AAA;
  border-right: none;
}
.block-heading .label {
  float: right;
  margin-top: .5em;
  margin-right: .75em;
  line-height: 1.5em;
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
}
p.block-heading,
a.block-heading,
.block-heading a {
  color: #505050;
  background: #dddddd;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #fafafa));
  background: -ms-linear-gradient(bottom, #dddddd, #fafafa);
  background: -moz-linear-gradient(center bottom, #dddddd 0%, #fafafa 100%);
  background: -o-linear-gradient(bottom, #dddddd, #fafafa);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa',EndColorStr='#dddddd')";
  display: block;
  padding-left: 1em;
  border-top: 1px solid #fff;
  outline: none;
}
a.block-heading:hover,
.block-heading a:hover {
  background: #dddddd;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #fdfdfd));
  background: -ms-linear-gradient(bottom, #dddddd, #fdfdfd);
  background: -moz-linear-gradient(center bottom, #dddddd 0%, #fdfdfd 100%);
  background: -o-linear-gradient(bottom, #dddddd, #fdfdfd);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdfdfd',EndColorStr='#dddddd')";
  color: #505050;
}
.block-body {
  margin: 1em;
  min-height: .25em;
}
.block-body h1,
.block-body h2,
.block-body h3,
.block-body h4,
.block-body h5,
.block-body h6,
.block-body table {
  margin-top: 12px;
}
.block-body.collapse {
  margin-top: 0em;
  margin-bottom: 0em;
}


.bg-blue {
  background-image: none !important;
  background-color: #4b8df8 !important;
}

.bg-red {
  background-image: none !important;
  background-color: #e02222 !important;
}

.bg-yellow {
  background-image: none !important;
  background-color: #ffb848 !important;
}

.bg-green {
  background-image: none !important;
  background-color: #35aa47 !important;
}

.bg-purple {
  background-image: none !important;
  background-color: #852b99 !important;
}

.bg-grey {
  background-image: none !important;
  background-color: #555555 !important;
}

/*
input, select, textarea, span, img, table, td, th, p, a, button, ul, li {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
*/

/***
Choosen plugin css changes
***/
.chzn-controls {
  margin-bottom: -4px !important;
}

.chzn-controls .help-inline {
  display: inline-block;
  margin-top  : 6px;  
}

.chzn-container {
  display: block;
  margin: 0;
  padding: 0 !important;
  box-shadow: none !important;
}

.chzn-container-single {
  margin: 0 !important;
  padding: 0 !important;  
}

/* fix chosen margins in form layouts */
.controls .chzn-container-single {
  float: left;
}
  
.chzn-container-single .chzn-single {
  box-shadow: none !important;
  background-image: none !important;
  filter:none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  border-color: #e5e5e5;
  margin: 0 !important;
}

/**
* jquery ui
*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 0px/*{cornerRadius}*/;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 0px/*{cornerRadius}*/;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 0px/*{cornerRadius}*/;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 0px/*{cornerRadius}*/;
}

.btn-toolbar {
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 5px;
}

.modal-body {
  padding: 5px;
}

.modal-footer {
  padding: 3px 15px 1px;
  background-color:#fff;
}

.ui-dialog .ui-dialog-titlebar-close {
	margin: -15px 12px 0 -20px;
}

.required {
  color: #e02222;
  font-size: 12px;
  padding-left: 2px;
}


.controls > .radio .checker,
.controls > .checkbox .checker {
  margin-right: 2px !important;
}

.controls > .radio,
.controls > .checkbox {
  display: inline-block;
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 8px !important;
  margin-right: 15px !important;
}

.controls > .radio.line,
.controls > .checkbox.line {
  display: block;
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 5px !important;
}

.controls .inline {
  margin-top: 8px; 
}

.extend_zone{
	display:inline-block;
}

table{
	border-collapse: separate;
}