<div wtftype="template" wtfmetadata="dialogbody">
	<div class="row-fluid">
		<div class="span7">
			<div id="templateinput" wtftype="input_dropdown" wtfmetadata="{emptyRecord: true, label: 'Templates:', labelWidth: 80}"></div>
			<div id="templatedesc" wtftype="input_textarea" wtfmetadata="{label: 'Descriptions', width: 193, rows: 5, labelWidth: 80}"></div>
		</div>
		<div class="span5">
			<div id="templateimage" wtftype="image"></div>	
		</div>
	</div>
</div>
<div wtftype="template" wtfmetadata="okcanceldialogfooter">
</div>