<div wtftype="template" wtfmetadata="okcanceldialog">
	<div class="row-fluid">
		<div class="span7">
			<div id="componentinput" wtftype="input_dropdown" wtfmetadata="{emptyRecord: true, label: 'Type:', labelWidth: 80}"></div>
			<div id="componentid" wtftype="input" wtfmetadata="{label : 'ID:', labelWidth: 80}"></div>
			<div id="componentdesc" wtftype="input_textarea" wtfmetadata="{label: 'Descriptions:', width: 193, rows: 5, labelWidth: 80}"></div>
		</div>
		<div class="span5">
			<div id="componentimage" wtftype="image"></div>	
		</div>
	</div>
</div>